[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/DennySPB
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/DennySPB
	label-Verified = -1..+1 group user/DennySPB
	push = group user/DennySPB
	read = group user/DennySPB
	rebase = group user/DennySPB
	removeReviewer = group user/DennySPB
	submit = group user/DennySPB
[access "refs/heads/*"]
	create = group user/DennySPB
	push = +force group user/DennySPB
	pushMerge = group user/DennySPB
	read = group user/DennySPB
[access "refs/tags/*"]
	push = group user/DennySPB
	push = +force group user/DennySPB
